# Python files
*.pyc
__pycache__/

# Virtual Environment
WEBAPP01_VENV/
env/
webapp01_reactapi/node_modules

# Django secret key
.env

# Migrations
*/migrations/*.py
!*/migrations/__init__.py

# Static and media files (if managed externally)
static/
media/

# IDE files (Optional, depending on your IDE)
.vscode/
.idea/

# Logs
*.log

# Database (if using SQLite)
# *.sqlite3

# Jupyter Notebook checkpoints (if using Jupyter)
.ipynb_checkpoints/
