<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div style = "margin: 100px;">
  <h2 style="background-color: aqua; text-align:center">
    Hossam's Todo App
  </h2>

  <!-- <input type = "text" [(ngModel)] = "newtask" placeholder = "Add task">
  <button (click) = "add_task()">
    {{ currentTaskID ? 'Edit Task' : 'Add Task'}}
  </button> -->

  <div class="container">
    <h1 class="text-center">Welcome to My Angular App!</h1>
    <button (click)="toggleTheme()" class="btn btn-primary">
      Toggle Theme
    </button>
  </div>

  <input type = "text" #newTaskInput placeholder = "Add a new task" #addTask/>
  <button (click) = "add_task(addTask.value); addTask.value = ' '">
    Add Task
  </button>

  <p *ngFor="let task of tasks">
    <ng-container *ngIf="!task.isEditing; else editMode">
      {{ task.task }}
      <button (click) = "edit_task(task)">
        Edit Task
      </button>
      <button (click) = "delete_task(task.id)">
        Delete Task
      </button>
    </ng-container>
    <ng-template #editMode>
      <input [(ngModel)]="task.task" (blur) = "update_task(task)" />
      <button (click) = "update_task(task)">
        Update
      </button>
      <button (click) = "task.isEditing = false">
        Cancel
      </button>
    </ng-template>
  </p>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->