<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div style = "margin: 100px;">
  <h2 style="background-color: aqua; text-align:center">
    Hossam's Todo App
  </h2>

  <!-- <input type = "text" [(ngModel)] = "newtask" placeholder = "Add task">
  <button (click) = "add_task()">
    {{ currentTaskID ? 'Edit Task' : 'Add Task'}}
  </button> -->

  <div class="container">
    <h1 class="text-center">Welcome to My Angular App!</h1>
    <button (click)="toggleTheme()" class="btn btn-warning">
      Toggle Theme
    </button>
  </div>

  <input type = "text" #newTaskInput placeholder = "Add a new task" #addTask/>
  <button (click) = "add_task(addTask.value); addTask.value = ' '" class = "btn btn-secondary">
    Add Task
  </button>

  <div>
    
  </div>

  <ul>
    <li *ngFor="let task of tasks">
      <!-- Check if task is being edited -->
      <ng-container *ngIf="!task.isEditing; else editMode">
        <!-- Show task text if not in edit mode -->
        {{ task.task }}
        <button (click) = "edit_task(task)">
          Edit Task
        </button>
        <button (click) = "delete_task(task.id)">
          Delete Task
        </button>
      </ng-container>

      <ng-template #editMode>
        <input [(ngModel)]="task.task" placeholder="Edit task..." />
        <button (click) = "update_task(task)">
          Update
        </button>
        <button (click)="cancel_edit(task)">
          Cancel
        </button>
        <!-- <button (click) = "task.isEditing = false">
          Cancel
        </button> -->
      </ng-template>
    </li>
  </ul>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->