# For .NET
API/bin/
API/obj/
API/.user/
API/.vs/
API/.vspscc/
API/.vssscc/
API/.csproj.user/
.vs/

# For Angular
UI/node_modules/
UI/dist/
UI/.angular/
UI/.idea/
UI/.vscode/
UI/.env

# General
*.log
*.DS_Store
